.call {
  text-align: center;
}

.player-container {
  padding: 20px;
  text-align: initial;
}

.button-group {
  padding: 20px;
}

.main-player {
  display: flex;
  justify-content: center;
}

.preview-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 350px;
  background-color: black;
}

.preview-text {
  color: white;
}

.local-player-wrapper {
  display: flex;
}

.remote-player-wrapper {
  padding-left: 15px;
}

.call-form {
  padding: 20px;
}

input, button {
  margin-right: 10px;
}